*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hubballi', cursive;
}

#container{
    width: 80%;
    margin: 0 auto;
}

/* header */

header{
    height: 100px;
}

header img{
    height: 60px;
    margin-bottom: 25px;
}

/* menu */

header nav ul li{
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a{
    color: #ccc;
    font-size: 20px;
}

a:link {
    text-decoration: none;
  }

/* sezione superiore */

#jumbotron{
    height: 480px;
    margin: 35px 0;
}

#jumbotron img{
display: block;
object-fit: cover;
width: 100%;
height: 100%;
filter: brightness(90%);
border-radius: 10px;
}



#jumbotron-text{
    position: absolute;
    bottom: 30px;
    left: 20px;
    color: white;
}



/* colonne */
#colonne{
    background-color: rgb(19, 143, 226);
}

#colonne::after{
    content: "";
    display: table;
    clear: both;
}

#partesopra-colonne{
    height: 40px;
    margin-bottom: 10px;
        /* debug */
    background-color: lightblue;
}

.colsx, .coldx{
    float: left;
    width: 20%;
    margin-bottom: 10px;
        /* debug */
    background-color: lightblue;
    height: 250px;
}

.colcentr{
    float: left;
    width: calc(60% - 20px);
    margin: 0 10px 10px 10px;
        /* debug */
    background-color: lightblue;
    height: 250px;
}

footer{
    margin-top: 5px;
    /* debug */
    background-color: purple;
    height: 30px;
}